<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato</title>
</head>
<body>
  <h1>Nossos contatos</h1>
  <br>
  <h3>Whatsapp: (16) 99623-9452</h3>
  <br>
  <h3>Instagram: nossoContato#Instagram</h3>
</body>
</html>